/EjerciciosJava/nbproject/private/
/EjerciciosJava/build/
/Ejercicios#2/nbproject/private/
/Ejercicios#2/build/
/Pruebas/nbproject/private/
/Ejercicios#2/dist/
/Pruebas/build/
/ejercicios33/nbproject/private/
/ejercicios33/build/
/ejercicios.arreglo/nbproject/private/
/ejercicios.arreglo/build/